.container {
  width: 200px;
  background-color:rgb(128,0,128);
  border-left: 5px;
  border-left-color:green;
  border-left-style:solid;	
  padding:10px;
}

#head{
  color:white;
  font_size:20px;
}
